<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="net.liuzd.spring.boot.v2.mapper.UserMapper">

	<select id="selectUserPage" resultType="net.liuzd.spring.boot.v2.entity.User">
        select 
        	 `id`,
			  `name`,
			  `age`,
			  `email`,
			  `status`,
			  `create_time`,
			  `modify_time`,
			  `version`,
			  `mark`
        from user
        <trim prefix="where" prefixOverrides="AND">
            <if test="selectInt != null">
                age = #{selectInt}
            </if>
            <if test="selectStr != null">
                AND name = #{selectStr}
            </if>
            AND mark = 0
        </trim>
    </select>
    
    
	<insert id="saveOne" parameterType="net.liuzd.spring.boot.v2.entity.User" useGeneratedKeys="true" keyProperty="id">
	   INSERT INTO user(name, age, status,email,version,create_time,modify_time,mark) VALUES
            (#{name},#{age},#{status},#{email},#{version},#{createTime},#{modifyTime},#{mark})
	</insert>

    
    <insert id="insertBatch" parameterType="java.util.List">
        INSERT INTO user(name, age, status,email,version,create_time,modify_time,mark) VALUES
        <foreach collection="list" item="user" index="index" separator=",">
            (#{user.name},#{user.age},#{user.status},#{user.email},#{user.version},#{user.createTime},#{user.modifyTime},#{user.mark})
        </foreach>
	</insert>

</mapper>